# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# =========================
# Environment & Secrets
# =========================
.env
*.env

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data
# =========================
data/raw/*
data/generated/*
data/processed/*
data/rejected/*

!data/raw/.gitkeep
!data/generated/.gitkeep
!data/processed/.gitkeep
!data/rejected/.gitkeep

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Machine Learning
# =========================
ml/models/*
!ml/models/.gitkeep

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Power BI
# =========================
*.pbix
*.pbit

# =========================
# Excel Temporary Files
# =========================
~$*.xlsx
~$*.xlsm
~$*.xls

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Coverage / Testing
# =========================
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# =========================
# Secrets / Certificates
# =========================
*.pem
*.key